<h1>Listing global_params</h1>

<table>
  <tr>
    <th>Key</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @global_params.each do |global_param| %>
  <tr>
    <td><%= global_param.key %></td>
    <td><%= global_param.value %></td>
    <td><%= link_to 'Show', global_param %></td>
    <td><%= link_to 'Edit', edit_global_param_path(global_param) %></td>
    <td><%= link_to 'Destroy', global_param, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Global param', new_global_param_path %>
